@let _editable = editable();
@let _profile = activeProfile();
@let _editingProfile = editingProfile();

<div
     class="min-h-full max-w-3xl mx-auto p-4 space-y-4 *:border-surface *:border *:rounded-2xl *:p-4">
  <article>
    @if (_editingProfile) {
    <app-profile-form [profile]="_profile"
                      (succeeded)="handleProfileUpdate($event)"
                      (canceled)="toggleEditingProfile()" />
    } @else {
    <div class="mb-2 flex flex-wrap items-start">
      <h2 class="leading-tight">
        <span class="text-3xl font-bold">{{ _profile.name }}</span>
        @if(_editable) {
        <span class="text-muted-color text-xs font-normal">
          ({{ _profile.public ? 'Public' : 'Private' }})
        </span>
        }
        <br />
        <span class="text-xs text-muted-color font-semibold">
          @{{ _profile.username }}
        </span>
      </h2>
      @if (_editable) {
      <div class="ms-auto space-x-2">
        <p-button [size]="'small'" [severity]="'secondary'"
                  [ariaLabel]="'Edit Profile'" [icon]="'pi pi-pencil'"
                  (onClick)="toggleEditingProfile()" />
        <p-button [size]="'small'" [severity]="'secondary'"
                  [ariaLabel]="'Delete Profile'" [icon]="'pi pi-trash'"
                  (onClick)="deleteProfile()" />
      </div>
      }
    </div>
    <div class="ps-8 text-muted-color">
      @if (_profile.title) {
      <h3 class="text-2xl text-primary font-bold">{{ _profile.title }}</h3>
      }
      <div class="mt-4 mb-6 text-sm *:space-x-2">
        @if (_profile.location) {
        <p>
          <span class="pi pi-map-marker text-sm"></span>
          <span>{{ _profile.location }}</span>
        </p>
        }
        @if (_profile.tel) {
        <p>
          <span class="pi pi-phone text-sm"></span>
          <a href="tel:{{_profile.tel}}"
             class="hover:underline">{{ _profile.tel }}</a>
        </p>
        }
        @if (_profile.email) {
        <p>
          <span class="pi pi-envelope text-sm"></span>
          <a href="mailto:{{_profile.email}}"
             class="hover:underline">{{ _profile.email }}</a>
        </p>
        }
      </div>
      @if (_profile.bio) {
      <p class="font-light">{{ _profile.bio }}</p>
      }
    </div>
    @if (_profile.public) {
    <div class="mt-6 text-center">
      <a pButton [href]="`${profiles.baseUrl}profiles/${_profile.id}/resume/`"
         target="_blank" rel="noopener noreferrer" [size]="'small'">
        <span pButtonIcon class="pi pi-download"></span>
        <span pButtonLabel> Download Resume</span>
      </a>
    </div>
    }
    }
  </article>

  @if (getSection(profiles.Slug.EDUCATION); as _educations) {
  <article>
    <app-section [header]="'Educations'" [profileId]="_profile.id"
                 [section]="_educations" [editable]="_editable"
                 (reordered)="reorderSectionEntries(profiles.Slug.EDUCATION, _educations.entries)">
      <ng-template #entry let-_edu>
        <app-section-entry [editable]="_editable" [entryId]="_edu.id"
                           [profileId]="_profile.id" [header]="_edu.title"
                           [summary]="_edu.summary" [endDate]="_edu.end_date"
                           [startDate]="_edu.start_date"
                           [slug]="_educations.slug" />
      </ng-template>
    </app-section>
  </article>
  }

  @if (getSection(profiles.Slug.WORK_EXPERIENCE); as _works) {
  <article>
    <app-section [header]="'Work Experiences'" [profileId]="_profile.id"
                 [section]="_works" [editable]="_editable"
                 (reordered)="reorderSectionEntries(profiles.Slug.WORK_EXPERIENCE, _works.entries)">
      <ng-template #entry let-_work>
        <app-section-entry [editable]="_editable" [entryId]="_work.id"
                           [profileId]="_profile.id" [header]="_work.position"
                           [subheader]="`at ${_work.company}`"
                           [startDate]="_work.start_date"
                           [endDate]="_work.end_date" [summary]="_work.summary"
                           [location]="_work.location" [slug]="_works.slug" />
      </ng-template>
    </app-section>
  </article>
  }

  @if (getSection(profiles.Slug.PROJECT); as _projects) {
  <article>
    <app-section [header]="'Projects'" [profileId]="_profile.id"
                 [section]="_projects" [editable]="_editable"
                 (reordered)="reorderSectionEntries(profiles.Slug.PROJECT, _projects.entries)">
      <ng-template #entry let-_project>
        <app-section-entry [editable]="_editable" [entryId]="_project.id"
                           [profileId]="_profile.id" [header]="_project.title"
                           [startDate]="_project.start_date"
                           [endDate]="_project.end_date"
                           [headerHref]="_project.href"
                           [summary]="_project.summary"
                           [keywords]="_project.keywords"
                           [slug]="_projects.slug" />
      </ng-template>
    </app-section>
  </article>
  }

  @if (getSection(profiles.Slug.SKILL); as _skills) {
  <article>
    <app-section [header]="'Skills'" [profileId]="_profile.id"
                 [section]="_skills" [editable]="_editable"
                 (reordered)="reorderSectionEntries(profiles.Slug.SKILL, _skills.entries)">
      <ng-template #entry let-_skill>
        <app-section-entry [editable]="_editable" [entryId]="_skill.id"
                           [profileId]="_profile.id" [header]="_skill.name"
                           [keywords]="_skill.keywords"
                           [slug]="_skills.slug" />
      </ng-template>
    </app-section>
  </article>
  }

  @if (getSection(profiles.Slug.COURSE); as _courses) {
  <article>
    <app-section [header]="'Courses'" [profileId]="_profile.id"
                 [section]="_courses" [editable]="_editable"
                 (reordered)="reorderSectionEntries(profiles.Slug.COURSE, _courses.entries)">
      <ng-template #entry let-_course>
        <app-section-entry [editable]="_editable" [entryId]="_course.id"
                           [profileId]="_profile.id" [header]="_course.name"
                           [subheader]="`from ${_course.academy}`"
                           [startDate]="_course.start_date"
                           [endDate]="_course.end_date"
                           [headerHref]="_course.href"
                           [slug]="_courses.slug" />
      </ng-template>
    </app-section>
  </article>
  }

  @if (getSection(profiles.Slug.LINK); as _links) {
  <article>
    <app-section [header]="'Links'" [profileId]="_profile.id"
                 [section]="_links" [editable]="_editable"
                 (reordered)="reorderSectionEntries(profiles.Slug.LINK, _links.entries)">
      <ng-template #entry let-_link>
        <app-section-entry [editable]="_editable" [entryId]="_link.id"
                           [header]="_link.label || _link.href"
                           [headerHref]="_link.href" [profileId]="_profile.id"
                           [slug]="_links.slug" />
      </ng-template>
    </app-section>
  </article>
  }
</div>