<div class="min-h-full p-4 flex flex-col justify-center">
  <div
       class="w-full max-w-md mx-auto p-4 overflow-auto space-y-8 rounded-2xl border border-surface">
    <form class="space-y-6" [formGroup]="form" (ngSubmit)="submit()"
          aria-labelledby="account-form-label">
      <h2 id="account-form-label"
          class="text-center text-3xl font-semibold text-color leading-tight tracking-wider"
          [class]="{ 'text-muted-color': form.disabled }">
        {{ info.label }}
      </h2>
      @if (form.errors?.['global']; as _globalError) {
      <p-message severity="error" size="small" variant="simple"
                 styleClass="justify-center">
        {{ _globalError }}
      </p-message>
      }
      <div class="space-y-4 *:flex *:flex-col *:gap-1">
        <ng-container [ngTemplateOutlet]="field" [ngTemplateOutletContext]="{
            control: form.controls.username,
            label: 'Username',
            id: 'username',
            type: 'text',
          }" />
        <ng-container [ngTemplateOutlet]="field" [ngTemplateOutletContext]="{
            control: form.controls.password,
            hidden: passwordHidden(),
            label: 'Password',
            type: 'password',
            id: 'password',
          }" />
        @if (form.controls.password_confirmation) {
        <ng-container [ngTemplateOutlet]="field" [ngTemplateOutletContext]="{
            control: form.controls.password_confirmation,
            label: 'Password Confirmation',
            hidden: confirmationHidden(),
            type: 'password',
            id: 'password_confirmation',
          }" />
        } @if (form.controls.first_name) {
        <ng-container [ngTemplateOutlet]="field" [ngTemplateOutletContext]="{
            control: form.controls.first_name,
            label: 'First Name',
            id: 'first_name',
            type: 'text',
          }" />
        } @if (form.controls.last_name) {
        <ng-container [ngTemplateOutlet]="field" [ngTemplateOutletContext]="{
            control: form.controls.last_name,
            label: 'Last Name',
            id: 'last_name',
            type: 'text',
          }" />
        }
      </div>
      @let _disabled = form.disabled;
      <div>
        <p-button fluid type="submit" severity="primary" [loading]="_disabled"
                  [disabled]="_disabled" label="Submit" />
      </div>
    </form>
    @if (signingIn || signingUp) {
    <p-divider type="solid" align="center" [pt]="{
        content: { class: `font-semibold tracking-wider ${form.disabled ? 'text-muted-color' : '' }` }
      }">
      Or
    </p-divider>
    <div class="*:block space-y-2">
      <p-button fluid type="button" severity="secondary" [disabled]="_disabled"
                [label]="signingIn ? SIGN_UP_LABEL : SIGN_IN_LABEL"
                (onClick)="navigate(['/', signingIn ? 'signup' : 'signin'])" />
    </div>
    } @else if (editing) {
    <div>
      <p-button fluid type="button" label="Cancel" severity="secondary"
                [disabled]="_disabled" (onClick)="navigate(['/account'])" />
    </div>
    }
  </div>
</div>
<!-- 
  Use a template fragment instead of a separate component,
  to avoid the browser's input-without-id issues that arises
  when bounding the id of an input-tag to a dynamic component input
-->
<ng-template #field let-fieldId="id" let-fieldType="type"
             let-fieldLabel="label" let-fieldControl="control"
             let-fieldHidden="hidden">
  @let _invalid = fieldControl.invalid && fieldControl.dirty;
  <p-float-label variant="on" class="block relative">
    <label for="{{ fieldId }}">{{ fieldLabel }}</label>
    @if (fieldType === 'textarea') {
    <textarea pTextarea fluid id="{{ fieldId }}" [autoResize]="true"
              [invalid]="_invalid" [aria-invalid]="_invalid"
              [formControl]="fieldControl"
              class="p-3 text-sm font-semibold tracking-wider"></textarea>
    } @else {
    <input pInputText fluid id="{{ fieldId }}" [invalid]="_invalid"
           [aria-invalid]="_invalid" [formControl]="fieldControl"
           [type]="fieldHidden === false ? 'text' : fieldType"
           class="p-3 pe-9 text-sm font-semibold tracking-wider"
           autocomplete="off" />
    @if (fieldType === 'password') { @let _passVisible = fieldHidden === false;
    <p-button text rounded outlined size="small" type="button"
              severity="secondary"
              [icon]="`pi pi-eye${_passVisible ? '-slash' : ''}`"
              ariaLabel="{{`${_passVisible ? 'Hide' : 'Show'} ${fieldLabel.toLowerCase()} content`}}"
              (onClick)="fieldId === 'password_confirmation' ? toggleConfirmVisibility() : togglePasswordVisibility()"
              styleClass="absolute top-1/2 right-2 transform-[translateY(-50%)] text-(--p-form-field-icon-color)" />
    } }
  </p-float-label>
  <!-- prettier-ignore -->
  @if (_invalid) {
  <p-message severity="error" size="small" variant="simple">
    @if (fieldControl.getError('required')) {
    <span>
      {{ `${fieldLabel[0].toUpperCase()}${fieldLabel.slice(1).toLowerCase()}` }}
      is required.
    </span>
    }@else if (fieldControl.getError('validation'); as _validationError) {
    <span>{{ _validationError }}</span>
    }
  </p-message>
  }
</ng-template>